<p>
    <%= link_to 'Add Story', new_comic_story_path(@comic, @story), class: 'add-story-link' %> |
    <%= link_to 'Back', comics_path({volume: @comic.volume}), class: 'back-link' %> |
    <%= link_to 'Edit', edit_comic_path(@comic), class: 'edit-comic-link' %> |
    <%= link_to 'Delete', @comic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-comic-link' %></p>
<p>
    <%unless @previous_comic.nil? %>
        <%= link_to 'Previous Issue', comic_path(@previous_comic), class: "previous-link" %>
    <%else%>
        Previous Issue
    <%end%>
        |
    <%unless @next_comic.nil? %>
        <%= link_to 'Next Issue', comic_path(@next_comic), class: 'next-link' %>
    <%else%>
        Next Issue
    <%end%>
</p>
