<p id="notice"><%= notice %></p>

<% if @comics.blank? %>
    <h4>There are no comics containing the term <%= params[:search] %>.</h4>
<% end %>

<% unless @comics.blank? %>
    <h1 id="volume-title">The Amazing Spider-Man Volume <%= params["volume"] %></h1>

    <%= render 'stats' %>

    <%= render 'comics' %>
<%end%>
