<p id="notice"><%= notice %></p>

<% if @comics.blank? %>
  <h4>There are no comics containing the term <%= params[:search] %>.</h4>
<% end %>

<h1>The Amazing Spider-Man Vol.<%=params["volume"]%></h1>
You own <%=@comics.where(owned: true).count%> / <%=@comics.count%> of these issues.
<%if @comics.count > 0%>
You own <%=@comics.where(owned: true).count/@comics.count*100%>% of these issues.
<%else%>
You own 0% of these issues.
<%end%>
<div class="container">
  <div class="row">
    <%@comics.each do |comic| %>
      <div class="col-xs-4 col-lg-3">
        <div class="thumb-nail">
          <div><%=link_to image_tag("#{comic.cover}", size: "232x352"), comic_path(comic)%></div>
          <div>Vol.<%=comic.volume%> #<%=comic.issue%></div>
        </div>
      </div>
    <%end%>
  </div>
</div>
