<p id="notice"><%= notice %></p>

<h1>The Amazing Spider-Man Vol.<%=params["volume"]%></h1>
You own <%=@comics.where(owned: true).count%> / <%=@comics.count%> issues in this volume.

<%if @comics.count > 0%>
You own <%=@comics.where(owned: true).count/@comics.count*100%>% of the issues in this volume.
<%else%>
You own 0% of the issues in this volume.
<%end%>
<!-- <%= render 'table' %> -->
<div class="container">
  <div class="row">
    <%=@comics.each do |comic| %>
      <div class="thumb-nail col-xs-4 col-lg-3">
        <div><%=link_to image_tag("#{comic.cover}", size: "232x352"), comic_path(comic)%></div>
        <div>Vol.<%=comic.volume%> #<%=comic.issue%></div>
      </div>
    <%end%>
  </div>
</div>
