<h1>New Comic</h1>

<div class="new-comic-form">
  <%= form_for(@comic) do |f| %>
      <% if @comic.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comic.errors.count, "error") %> prohibited this comic from being saved:</h2>

          <ul>
          <% @comic.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field form-group">
        <%= f.label :volume, class: 'control-label' %>
        <%= f.number_field :volume, class: 'input-field'  %>
      </div>

      <div class="field form-group">
        <%= f.label :issue, class: 'control-label' %>
        <%= f.number_field :issue, class: 'input-field'  %>
      </div>

      <div class="field form-group">
        <%= f.label :cover_price, "Cover Price", class: 'control-label' %>
        <%= f.number_field :cover_price, :step => 0.01, class: 'input-field'  %>
      </div>

      <div class="field form-group">
        <%= f.label :price, class: 'control-label' %>
        <%= f.number_field :price, class: 'input-field' %>
      </div>

      <div class="field form-group">
        <%= f.label :cover, class: 'control-label' %>
        <%= f.text_field :cover, class: 'input-field'  %>
      </div>

      <div class="field form-group">
        <%= f.label :cover_artists, "Cover Artists", class: 'control-label' %>
        <%= f.text_field :cover_artists, class: 'input-field'  %>
      </div>

      <div class="field form-group">
        <%= f.label :editor_in_chief, "Editor-in-Chief", class: 'control-label' %>
        <%= f.text_field :editor_in_chief, class: 'input-field'  %>
      </div>

      <div class="field form-group">
        <%= f.label :tags, class: 'control-label' %>
        <%= f.text_field :tags, class: 'input-field'  %>
      </div>

      <div class="form-group">
        <%= f.label :annual, class: 'control-label' %>
        <%= f.check_box :annual %>
      </div>

      <div class="form-group">
        <%= f.label :owned, class: 'control-label' %>
        <%= f.check_box :owned %>
      </div>

      <div class="field form-group">
        <%= f.submit 'Submit', :class => 'comic-form-btn' %>
      </div>
  <%end%>
</div>

<%= link_to 'Back', need_list_path %>
