<p id="notice"><%= notice %></p>

<div class="comic-wrapper">
    <div class="row">

        <div class="comic-details-cover">
            <%= image_tag "#{@comic.cover}", :class => 'comic-details-cover-art' %>
        </div>

        <div class="comic-details-credits">
            <%= render 'issue' %>
            <div class = "display-info">
                <%= render 'details' %>
                <%= render 'links' %>
            </div>
        </div>

    </div>
</div>
