<p id="notice"><%= notice %></p>

<div class="comic-wrapper">
    <div class="row">

        <div class="comic-details-cover">
            <%= image_tag "#{@comic.cover}", :class => 'comic-details-cover-art' %>
        </div>

        <div class="comic-details-credits">
            <div class="issue">
                <strong class="comic-details-title">The Amazing Spider-Man</strong>
                <p>Volume
                    <%= @comic.volume %>
                    Issue
                    <%= number_with_precision(@comic.issue, strip_insignificant_zeros: true) %></p>
            </div>

            <p>
                <strong>Cover Artists:</strong>
                <%= @comic.cover_artists %>
            </p>

            <p>
              <% @comic.stories.each do |story| %>
              <strong>Stories:</strong>
                <%= link_to 'story.title', comic_story_path({:comic_id => @comic.id, :id => story.id}) %>
              <% end %>
            </p>

            <p>
                <strong>Tags:</strong>
                <%= @comic.tags %>
            </p>
            <p>
              <%= link_to 'New Story', new_comic_story_path(@comic, @story) %>
            </p>
            <p>
                <%= link_to 'Back', comics_path({:volume => @comic.volume}), :class => 'back-link' %>
                |
                <%= link_to 'Edit', edit_comic_path(@comic), :class => 'edit-link' %>
                |
                <%= link_to 'Destroy', @comic, method: :delete, data: {confirm: 'Are you sure?'} %>
            </p>

            <p>
                <p><%unless @previous_comic.nil? %>
                  <%= link_to 'Previous Issue', comic_path(:id => @previous_comic.id, :volume =>@previous_comic.volume, :issue => @previous_comic.issue), :class =>"previous-link" %>
                <%else%>
                  Previous Issue
                <%end%>
                  |
                <%unless @next_comic.nil? %>
                  <%= link_to 'Next Issue', comic_path(:id => @next_comic.id, :volume =>@next_comic.volume, :issue => @next_comic.issue), :class =>"next-link" %>
                <%else%>
                  Next Issue
                  </p>
                <%end%>
            </p>

        </div>
    </div>
</div>
