<p id="notice"><%= notice %></p>
<div class="story-details">

    <p> Title: <%= @story.title %> </p>
    <p> Writers: <%= @story.writers %> </p>
    <p> Pencilers: <%= @story.pencilers %> </p>
    <p> Inkers: <%= @story.inkers %> </p>
    <p> Colourists: <%= @story.colourists %> </p>
    <p> Letterers: <%= @story.letterers %> </p>
    <p> Editors: <%= @story.editors %> </p>

    <%= link_to 'Edit', edit_comic_story_path({:id => @story.id}), :class => 'edit-story-link'%> |
    <%= link_to 'Back', comic_path(@comic, {:issue => @comic.issue, :volume => @comic.volume}), :class => 'back-to-comic' %> |
    <%= link_to 'Delete', [@comic, @story], method: :delete, data: {confirm: 'Are you sure?'}, :class =>'delete-story-link' %>
</div>
